{% extends 'Message:Mothership:Ecommerce::checkout:checkout-layout' %}

{% block content %}
	<div class="checkout">

		<section class="progress">
			<div class="stage">
				<h2>Stage 01<span> Your selection</span></h2>
			</div>
			<div class="stage active">
				<h1>Stage 02<span> Your details</span></h1>
			</div>
			<div class="stage">
				<h2>Stage 03<span> Delivery details</span></h2>
			</div>
			<div class="stage">
				<h2>Stage 04<span> Order overview</span></h2>
			</div>
			<div class="stage">
				<h2>Stage 05<span> Payment</span></h2>
			</div>
			<div class="stage">
				<h2>Stage 06<span> Confirmation</span></h2>
			</div>
		</section>

		<section class="login-register">
			<div class="login">
				<h2>Uniform Wares members</h2>
				{{ render(controller('Message:User::Controller:Authentication#login', {
					redirectURL: url('ms.ecom.checkout.details'),
					forgottenPasswordRoute: 'ms.cp.password.request'
				})) }}
			</div>
			<div class="register">
				<h2>If you're new to the website&hellip;</h2>
				<p><a href="{{ url('ms.ecom.checkout.details.register') }}">Enter your personal details</a></p>
			</div>
		</section>

	</div>


{% endblock %}
