{% extends 'Message:Mothership:Ecommerce::Checkout:checkout-layout' %}

{% block content %}

<h2>If you're new to the website&hellip;</h2>
<p><a href="{{ url('ms.ecom.checkout.details.register') }}">Enter your personal details</a></p>

<hr />

<h2>If you've shopped here before&hellip;</h2>

{{ render(controller('Message:User::Controller:Authentication#login', {
	redirectURL: url('ms.ecom.checkout.details'),
	forgottenPasswordRoute: 'ms.cp.password.request'
})) }}

{% endblock %}
