{% extends 'Message:Mothership:Ecommerce::Checkout:checkout-layout' %}

{% block content %}
	<h2>Confirmation</h2>

	<p>Thanks for your order {{ order.user.forename}} </p>
	<ul>
	{% for item in order.items %}
		<li>{{ item.productName }} - {{ item.options }}</li>
	{% endfor %}
	</ul>
{% endblock %}