{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block main %}
	<div class="topbar">
		{{ render(controller('Message:Mothership:Ecommerce::Controller:Fulfillment#tabs'))}}
	</div>
	<section class="container-content">
		{% block process %}{% endblock %}
	</section>
{% endblock %}