<div class="module sq">
	<h2 class="title">
		Orders fulfillment time (Avg.)
	</h2>
	<div class="wrap center">
		<h2 class="large-text">{{ time }}<span class="small">{{ units }}</span></h2>
	</div>
</div>