/* ======================================================= */
/*                                                         */
/*                                                         */
/*    Basic Print Styles for Packing Slips                 */
/*                                                         */
/*                                                         */
/* ======================================================= */
/*
/*
/*    Development by Message
/*    http://www.message.co.uk
/*
/*
/* ======================================================= */

body {
	background:#EEE;
	color:#000;
	margin:0;
	font: normal 14px Arial, Helvetica, sans-serif;
}

#wrapper {
	width:800px;
	padding-top:10px;
	margin:0 auto;
}
.page {
	background:#FFF;
	color:#000;
	border:1px solid #AAA;
	padding:10px;
	margin-bottom:10px;
	min-height:1200px;
	_height:1200px;
	zoom:1;
	position:relative;
	page-break-after:always;
}
.page_first {
	background:#FFF;
	color:#000;
	border:1px solid #AAA;
	padding:10px;
	margin-bottom:10px;
	height:28cm;
	position:relative;
}

#wrapper > br {
	display: none !important;
}

button {
	margin: 10px auto;
	width: 100px;
	display: block;
}

h1 {
	font: bold 24px Arial, Helvetica, sans-serif;
}

h2 {
	font: bold 18px Arial, Helvetica, sans-serif;
	margin: 0px 0px 10px 0px;
	clear: both;
}

table {
	width: 100%;
	font: normal 14px Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	margin: 0px 0px 30px 0px;
}

table th, table td {
	text-align: left;
	padding: 5px;
}

table th {
	background: #EEE;
}

table tr {
	border-bottom: 1px solid #CCC;
}

.half-col {
	width: 45%;
	float: left;
}

dl {
	padding: 5px;
	margin: 0px 0px 20px 0px;
}

dt {
	font-weight: bold;
	width: 150px;
	float: left;
	clear: left;
	margin: 0px 0px 10px 0px;
}

dd {
	float: left;
	min-height: 15px;
	margin: 0px 0px 10px 0px;
}

/* Packing Slip with Labels */

.packingslip-labels h1 {
	border-bottom: 2px solid #000;
	padding: 0px 0px 20px 0px;
}

.packingslip-labels hr {
	border: none;
	border-bottom: 2px solid #000;
	clear: both;
}

.packingslip-labels dl {
	margin: 0px;
}

.labels {
	height:250px;
	position:absolute;
	top:810px;
	left:0;
	width:100%;
	font-size:1.3em;
}

.label {
	display:block;
	position:absolute;
	top:100px;
	left:50px;
}

.labels .return-address {
	left:450px;
}

.labels .reusable {
	width: 320px;
	font-size: 0.9em;
}

.labels .reusable span:first-child {
	font-size: 2em;
}

.label span {
	display:block;
}


/* Print Query to remove preview stuff */

@media print {

body {
	background:#FFF;
	width:100%;
}

#wrapper {

}

.page {
	border: none;
	min-height: 297mm;
	height: 297mm;
	padding: 0px;
	page-break-after: always;
    page-break-inside: avoid;
}

button, button.save {
	display:none;
}

}

