{% extends 'Message:Mothership:Commerce::order:listing:view' %}

{% block title %}Mothership Order Fulfillment{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts
		'@Message:Mothership:Ecommerce::resources/assets/js/jZebraControl.jquery.js'
		'@Message:Mothership:Ecommerce::resources/assets/js/fulfillment.js'
		'@Message:Mothership:ControlPanel::resources/assets/js/filteredSelect.jquery.js'
		'@Message:Mothership:User::resources/assets/js/state-filter.js'

		output='/assets/js/ms_cp_order_fulfillment.js'
	%}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script>
		$.jZebraControl.configure({
			printerName: {{ app.cfg.dispatch.printerName|json_encode|raw }}
		});
	</script>
{% endblock %}

{% block main %}
	<hgroup class="title">
		<h1>Fulfillment</h1>
	</hgroup>

	{{ render(controller('Message:Mothership:Ecommerce::Controller:Fulfillment:Fulfillment#tabs'))}}

	<section class="container-content medium">
		<div class="fulfillment">
			{% block process %}{% endblock %}
		</div>
	</section>
{% endblock %}