
<div class="page">
	<table>
		<thead>
		<tr>
			<th>Brand</th>
			<th>Description</th>
			<th>SKU</th>
			<th>Quantity</th>
		</tr>
		</thead>
		<tbody>

			{% if items is empty %}
				{% set items = order.items %}
			{% endif %}

			{% for item in items %}
				<tr>
					<td>{{ item.brand }}</td>
					<td>{{ item.productName }}</td>
					<td>{{ item.sku }}</td>
					<td>1</td>
				</tr>
			{% endfor %}

		</tbody>
	</table>
</div>