{% extends '::fulfillment:picking:htmlWrapper' %}

{% block content %}
	<button type="submit" class="button small save">Print</button>
	<div id="wrapper">
		{% include '::fulfillment:picking:_orderList' %}
		{% for key, order in orders %}
			{% include '::fulfillment:picking:_itemList' %}
		{% endfor %}
		{% for key, order in orders %}
			{% include '::fulfillment:picking:_deliveryNote' %}
		{% endfor %}
	</div>
{% endblock %}