{% extends 'Message:Mothership:Ecommerce::fulfillment' %}

{% block process %}
	<h2>Amending address for dispatch {{ dispatch.id }} for order {{ dispatch.order.id }}</h2>
	<section class="group">

	</section>

	{{ form_start(form) }}
		<button type="submit" class="button small save" id="save-content">Update</button>
	{{form_end(form)  }}

{% endblock %}